//HEADER
.menu-header {
  position: relative;
  .header-img-resto {
    background-image: url("/images/restaurants/small_stil-u2Lp8tXIcjw-unsplash.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;

    position: absolute;
  }
}
.menu-header-logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 15px;

  .menu-img {
    width: 35%;
  }
  .fa-solid {
    margin-right: 120px;
  }
}

.menu {
  margin-top: 310px;
  border-radius: 25px;
}
/****titre****/
.menu-title {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  h1 {
    font-family: "Shrikhand", cursive;
    font-size: 28xp;
  }
  .fa-solid {
    font-size: 22px;
    color: #f6f6f6;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  }
}
.menu {
  background-color: #f2f2f2;
  border-radius: 25px;
  padding-top: 20px;
  /*min-width: 600px;
  width: 100%;
  margin: auto;*/
}
.menu-bloc {
  margin-bottom: 50px;
  h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-left: 25px;
    position: relative;
    &:after {
      content: "";
      border: 2px solid $color-tertiary;
      width: 40px;
      position: absolute;
      margin: 3px;
      bottom: -12px;
      left: -3px;
    }
  }
}

.btn-pink {
  margin-bottom: 50px;
}
