.loader-container {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  animation: pageloader 1.8s linear forwards;
}
.loader {
  z-index: 1000;
  background: $color-tertiary;
  border: 10px solid #f3f3f3;
  border-top: 10px solid $color-primary;
  border-bottom: 10px solid $color-secondary;
  border-radius: 50%;

  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: spin 1.8s linear forwards;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
@keyframes pageloader {
  0% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;

    z-index: -1000;
  }
}
