* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 375px;
  max-width: 1400px;

  margin: auto;
}
main {
  width: 100%;
  margin: auto;
  background: #fff;
  font-size: 16px;
  font-family: "roboto", sans-serif;
  color: #000;
}

a:link,
a:visited {
  text-decoration: none;
  color: #000;
}
